<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Expenses List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
        $( "#fromdate" ).datepicker({
            dateFormat: "yy-mm-dd"
        });
        $( "#todate" ).datepicker({
                 dateFormat: "yy-mm-dd"
            });
     });
  </script>
  <style>
      input{
          margin-left: 80px;
      }
  </style>
</head>
<body>
    <br>
    {% bootstrap_messages %}
    <form method="POST" action="{% url 'search' %}" >
        {% csrf_token %}
        <table>
            <tr>
            <td>
            From Date:
            </td>
            <td>
            <input type="date" name="fromdate" id="fromdate">
            </td>
            </tr>
            <tr>
            <td>
            To Date:
            </td>
            <td>
            <input type="date" name="todate" id="todate">
            </td>
            </tr>
        </table>
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Search
                </button>
            {% endbuttons %}
    </form>
    <table class="table table-bordered ">
        <tr>
            <th> Date </th>
            <th> Total Sale </th>
            <th> Card Machine 1 </th>
            <th> Card Machine 2 </th>
            <th> Card Machine 3 </th>
            <th> Take Away </th>
            <th> Meat </th>
            <th> Vegetables </th>
            <th> Fish </th>
            <th> Containers </th>
            <th> Beer </th>
            <th> Cash & Carry </th>
            <th> Soft Drinks </th>
            <th> Credit </th>
            <th> Salary </th>
            <th> Miscellaneous </th>
            <th> Balance </th>
        </tr>
    {% for expense in expenses %}
        <tr>
            <td>{{expense.date}}</td>
            <td>{{expense.total_sale}}</td>
            <td>{{expense.card1}}</td>
            <td>{{expense.card2}}</td>
            <td>{{expense.card3}}</td>
            <td>{{expense.take_away}}</td>
            <td>{{expense.meat}}</td>
            <td>{{expense.vegetables}}</td>
            <td>{{expense.fish}}</td>
            <td>{{expense.containers}}</td>
            <td>{{expense.beer}}</td>
            <td>{{expense.cash_carry}}</td>
            <td>{{expense.soft_drinks}}</td>
            <td>{{expense.credit}}</td>
            <td>{{expense.salary}}</td>
            <td>{{expense.miscellaneous}}</td>
            <td>{{expense.balance}}</td>
            <td> <a href="{% url 'delete' pk=expense.pk %}"> Delete </a> </td>
            <td> <a href="{% url 'update' pk=expense.pk %}"> Update </a> </td>
        </tr>
    {% endfor %}  
    </table>
    <h4> Total Balance {{total}}</h4>
    <a href="{% url 'index'%}" > Home </a>

</body>
</html>